@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    padding: 20px 20px 20px 20px;
    margin: 25px 150px 20px 150px;
    
}

#subtitle {
    background: black;
    color: white;
    padding: 2px 20px 2px 20px;
    margin: 0px 150px 50px 150px;
    
}

.topic {
    background: lightgray;
    display: inline-block;
    margin: 62px 62px 62px 62px;
    padding: 4px 3px 4px 3px;
    
}

